.category-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  gap: 15px;
}

.category-label {
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 15px;
  font-weight: 600;
}

.category-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  width: 70px; /* Reduced width for smaller categories */
  text-align: center;
}

.icon-container {
  font-size: 1.5rem; /* Smaller icon size */
  width: 50px; /* Circular container size */
  height: 50px; /* Circular container size */
  border-radius: 50%; /* Make the container circular */
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, background-color 0.3s ease;
  transform-style: preserve-3d; /* Ensure elements can be flipped in 3D space */
  backface-visibility: hidden; /* Hide the back of the flipped element */
}

.category-item:hover .icon-container {
  background-color: #666464;
  transform: rotateY(360deg); /* Flip the icon container */
}

.category-item:hover {
  transform: scale(1.05); /* Overall item slightly grows */
}

.category-item span {
  font-size: 0.75rem; /* Smaller text size */
  color: #555;
  margin-top: 5px;
}

@media (max-width: 768px) {
  .category-container {
    justify-content: space-evenly;
  }
}
